name: Package Plugin

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 8.0.x

            - name: Install logiplugintool
              run: dotnet tool install --global logiplugintool

            - name: Build
              run: dotnet build -c Release

            - name: Package Plugin
              run: logiplugintool pack ./bin/Release ./HapticWeb.lplug4

            - name: Upload Plugin Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: HapticWeb-Plugin
                  path: ./HapticWeb.lplug4
